<header class="site-header">
  <nav class="navbar navbar-default navbar-inverse">
    <div class="container-fluid header-color">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <div>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{site.baseurl}}/">{{site.title}}</a>
        </div>
        <div class="container">

          <div id="video-back" class="row row-eq-height">
              <div class="col-xs-4">
                <div class="video-container"><video autoplay loop  class="fillWidth">
                  <source src="{{site.baseurl}}/images/gifs/p1.mp4" type="video/mp4">
                  </video>
                </div>
              </div>
              <div class="col-xs-4">
                <div class="video-container"><video autoplay loop  class="fillWidth">
                  <source src="{{site.baseurl}}/images/gifs/p2.mp4" type="video/mp4">
                  </video>
                </div>
              </div>
              <div class="col-xs-4">
                <div class="video-container"><video autoplay loop  class="fillWidth">
                  <source src="{{site.baseurl}}/images/gifs/p3.mp4" type="video/mp4">
                  </video>
                </div>
              </div>
              <div class="col-xs-4">
                <div class="video-container"><video autoplay loop  class="fillWidth">
                  <source src="{{site.baseurl}}/images/gifs/p4.mp4" type="video/mp4">
                  </video>
                </div>
              </div>
              <div class="col-xs-4">
                <div class="video-container"><video autoplay loop  class="fillWidth">
                  <source src="{{site.baseurl}}/images/gifs/p5.mp4" type="video/mp4">
                  </video>
                </div>
              </div>
              <div class="col-xs-4">
                <div class="video-container"><video autoplay loop  class="fillWidth">
                  <source src="{{site.baseurl}}/images/gifs/p6.mp4" type="video/mp4">
                  </video>
                </div>
              </div>
              <div class="col-xs-4">
                <div class="video-container"><video autoplay loop  class="fillWidth">
                  <source src="{{site.baseurl}}/images/gifs/p7.mp4" type="video/mp4">
                  </video>
                </div>
              </div>
              <div class="col-xs-4">
                <div class="video-container"><video autoplay loop  class="fillWidth">
                  <source src="{{site.baseurl}}/images/gifs/p8.mp4" type="video/mp4">
                  </video>
                </div>
              </div>
              <div class="col-xs-4">
                <div class="video-container"><video autoplay loop  class="fillWidth">
                  <source src="{{site.baseurl}}/images/gifs/p9.mp4" type="video/mp4">
                  </video>
                </div>
              </div>
          </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{site.baseurl}}/about/">About</a></li>
            <li><a href="{{site.baseurl}}/contact/">Contact</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>
